In [ ]:
whatif="the world ends today"
print(len(whatif)-len("not at all"))

10

In [ ]:
m=["dune","jaws","vp","titanic","rotatouille"]
print(m[-2][3]+m[-1][-1]+m[-1][-4]+m[4][-6]+m[-5][1])

aeiou

In [ ]:
strength={"IT":70,"ECE":65,"EEE":75,"AIML":50}
strength.update({"CSE":64})
print(strength)

{'IT': 70, 'ECE': 65, 'EEE': 75, 'AIML': 50, 'CSE': 64}

In [ ]:
event="easter at april 20"
l=event.split(" ")
print("#".join(l[::-2]))

20#at

In [ ]:
name="college of engineering"
print(name[8:11]+"cyc"+name[3]+name[-3:])

of cycling

In [ ]:
print(float(5+int(4.39+2.1)%2))

5.0

In [ ]:
print(3*1**3)

3

In [ ]:
p,q=8,3
p,q,p=p+1,q+5,p+10
print(p,q)

18 8

In [ ]:
print(16//3+3**3+15/4-9)

26.75

In [ ]:
t=(2,4,(6,8,(10,12)),14)
print(t[2][2][0]*t[0]+t[-1])

34

In [1]:
x = 10
y = 3
x, y = x % y, x // y
print(x, y)

1 3

In [ ]:
alpha = ["a", "b", "c", "d"]
print(alpha.pop(2) + alpha[-1])
print(alpha)

cd
['a', 'b', 'd']

In [ ]:
from functools import reduce
nums = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x * y, nums)
print(result)

120

In [ ]:
ages = [15, 22, 18, 30, 12, 40, 90]
adults = list(filter(lambda x: x >= 18, ages))
print(len(adults))

5

In [ ]:
num_list = [5, 10, 15, 20, 25]
res = list(map(lambda x: x % 3, num_list))
print(res)

[2, 1, 0, 2, 1]

In [ ]:
info = {"name": "Sara", "age": 18, "state": "Kerala"}
info["age"] += 4
info["country"] = "India"
print(info.keys())
print(info.get("state", "Unknown"))

dict_keys(['name', 'age', 'state', 'country'])
Kerala

In [ ]:
nums = {3, 6, 9, 12}
nums.add(15)
nums.remove(6)
nums.update([18, 21])
nums.discard(99)
print(sum(nums))

78

In [ ]:
word = "Whatever"
print(word[:3] + word[-1] + word[4:2:-1])

Wharet

In [ ]:
x = [3, 6, 9, 12, 15]
y = x[::-1]
print(y[1] + x[-3])

21

In [ ]:
a = (5,(7,5,(1,2)),5,4)
print(a.count(5))
print(a[1][2])
print(a * 3)
print(len(a))
b = (7,8,(4,5))
print(a + b)

2
(1, 2)
(5, (7, 5, (1, 2)), 5, 4, 5, (7, 5, (1, 2)), 5, 4, 5, (7, 5, (1, 2)), 5, 4)
4
(5, (7, 5, (1, 2)), 5, 4, 7, 8, (4, 5))